:root {
    --clr-primary-200: #314C64;
    --clr-primary-400: #EEEEEE;

    --clr-neutral-100: #EEEEEE;
    --clr-neutral-900: #252525;

    --ff-primary: 'Acumin Pro', sans-serif;
}

html {
    margin: 0px;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 15px;
}

p {
    margin: 0;
    color: #EEEEEE;
}

h1 {
    font-family: var(--ff-primary);
    font-weight: 800;
    font-size: 40px;
    color: #EEEEEE;
}
h2 {
    font-family: var(--ff-primary);
    font-weight: 800;
    font-size: 40px;
    color: #EEEEEE;
}
h3 {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 18px;
}

section {
    padding: 3rem 0;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.bg-light {
    background-color: var(--clr-primary-400);
}

.bg-blue {
    background-color: var(--clr-primary-200);
}

.portrait {
    width: 20rem;
}

/* Navbar start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    align-items: center;
    justify-content: center;
}

.nav-links{
    padding: 1px 0;
}

.nav-links li{
    display: inline-block;
    margin-right: 150px;
}

.nav-links li a{
    text-decoration: none;
    color: #252525;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #314C64;
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}
/* Navbar slut */