header{
    height: 50px;
    width: 1fr;
    padding: 4rem;
    background-color: #EEEEEE;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
}

.nav-links{
    padding: 1px 0;
}

.nav-links li{
    display: inline-block;
    margin-right: 150px;
}

.nav-links li a{
    text-decoration: none;
    color: #252525;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #314C64;
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}