:root {
    --clr-primary-200: #314C64;
    --clr-primary-400: #EEEEEE;

    --clr-neutral-100: #EEEEEE;
    --clr-neutral-300: #35CADB;
    --clr-neutral-500: #6BFFD3;
    --clr-neutral-900: #252525;

    --ff-primary: 'Acumin Pro', sans-serif;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 15px;
    background-color: var(--clr-primary-200);
}

.streg {
    background-color: var(--clr-neutral-500);
    height: 8px;
}

section {
    padding: 3rem 0;
}

.text-center {
    text-align: center;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

/* Utility class start */
.bg-light {
    background-color: var(--clr-primary-400);
}

.bg-blue {
    background-color: var(--clr-primary-200);
}
/* Utility class slut */

/* Fonts start */
.font-white {
    color: var(--clr-neutral-100);
}

.font-black {
    color: var(--clr-neutral-900);
}

p {
    margin: 0;
    color: var(--clr-neutral-100);
}

h1, h2 {
    font-family: var(--ff-primary);
    font-weight: 800;
    font-size: 30px;
    color: var(--clr-neutral-100);
}
h3 {
    font-family: var(--ff-primary);
    font-weight: 800;
    font-size: 25px;
    color: var(--clr-neutral-100);
}
h4 {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 18px;
    color: var(--clr-neutral-900);
}
/* Fonts slut */

/* Forside indhold start*/
.forsidenavn {
    margin: auto auto 20px auto;
    text-align: center;
}

.introtekst {
    margin: auto auto 20px auto;
    background-color: var(--clr-primary-400);
    padding: 15px;
    max-width: 400px;
    height: 270px;
    border: 6px solid var(--clr-neutral-300);
    border-radius: 20px;
}

.portrait {
    display: block;
    max-width: 100%;
    border: 6px solid var(--clr-neutral-300);
    border-radius: 20px;
    margin: auto;
}

.kompetencebokse {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.kompetencebokse > * {
    margin-top: 20px;
    width: 190px;
    height: 180px;
    background-color: var(--clr-primary-400);
    border: 6px solid var(--clr-neutral-300);
    border-radius: 20px;
    padding: 10px;
}

.adobeicons {
    width: 110px;
}

.split1 {
    display: flex;
    flex-direction: column;
}

.split1 > * {
    flex-basis: 100%;
}

.split2 {
    display: flex;
    flex-direction: column;
}

.split2 > * {
    flex-basis: 100%;
}

.portrait {
    width: 20rem;
}

/* Forside indhold slut*/

/* Portfolio indhold start*/
.portfolioeksempler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.portfolioeksempler > * {
    margin-top: 20px;
    margin-left: 10px;
    width: 330px;
    height: 300px;
    background-color: var(--clr-primary-400);
    border: 6px solid var(--clr-neutral-300);
    border-radius: 20px;
    padding: 10px;
}
/* Portfolio indhold slut*/

footer {
    background-color: var(--clr-primary-400);
}

/* Footer-grid start */
.grid-container-footer {
    height: 185px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". m m m m m m ."
        ". t t t t t t ."
        ". l l l l l l ."
        ". c c c c c c .";
}

.mail {
    grid-area: m;
    color: var(--clr-neutral-900);
    margin: auto;
}

.telefon {
    grid-area: t;
    color: var(--clr-neutral-900);
    margin: auto;
}

.linkedin {
    grid-area: l;
    color: var(--clr-neutral-900);
    margin: auto;
}

.copyright {
    grid-area: c;
    color: var(--clr-neutral-900);
    font-weight: 700;
    margin: auto;
    padding: 30px 0px 0px 0px;
}
/* Footer-grid slut */

/* Navbar start */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.nav-links {
    padding: 2px 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 150px;
    margin-left: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: #252525;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after {
    content: '';
    background: #314C64;
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after {
    width: 100%;
}
/* Navbar slut */

@media screen and (min-width: 720px) {
    .kompetencebokse {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .portfolioeksempler {
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav {
        justify-content: center;
    }
    .nav-links li {
        margin-left: 100px;
    }
    .split1 {
        display: flex;
        flex-direction: row;
        flex-flow: row-reverse;
    }
    .introtekst {
        margin-left: 20px;
    }
    .forsidenavn {
        text-align: center
    }
}